<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="778a76">  <td>23/04/18 16:50:03</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateTalentTest.CreateTalent()[pri:1, instance:DobrhTest.CreateTalentTest@1e683a3e]">CreateTalent</td> 
  <td>main@1727361096</td>   <td></td> </tr>
<tr bgcolor="778a76">  <td>23/04/18 16:49:57</td>   <td>-6051</td> <td>&nbsp;</td><td title="&gt;&gt;CreateTalentTest.LaunchingBrowser()[pri:0, instance:DobrhTest.CreateTalentTest@1e683a3e]">&gt;&gt;LaunchingBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1727361096</td>   <td></td> </tr>
</table>
