<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Dobrh</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="77fd62">  <td>23/03/29 16:15:18</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;CreateClientTest.BrowserLaunch()[pri:0, instance:DobrhTest.CreateClientTest@1e683a3e]">&gt;&gt;BrowserLaunch</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@313239742</td>   <td></td> </tr>
<tr bgcolor="77fd62">  <td>23/03/29 16:15:38</td>   <td>19788</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateClientTest.ClientCreation()[pri:1, instance:DobrhTest.CreateClientTest@1e683a3e]">ClientCreation</td> 
  <td>main@313239742</td>   <td></td> </tr>
<tr bgcolor="62f5b9">  <td>23/03/29 16:15:29</td>   <td>11621</td> <td>&nbsp;</td><td title="&gt;&gt;LoginTest.Launchchromebrowser()[pri:0, instance:DobrhTest.LoginTest@49c7b90e]">&gt;&gt;Launchchromebrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@313239742</td>   <td></td> </tr>
<tr bgcolor="62f5b9">  <td>23/03/29 16:15:44</td>   <td>26025</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.Logintestcall()[pri:1, instance:DobrhTest.LoginTest@49c7b90e]">Logintestcall</td> 
  <td>main@313239742</td>   <td></td> </tr>
</table>
